/*--------GENERAL CSS--------*/

:root {
  /* background-color */
  --bg-white: #ffffff;
  --bg-blue: #060640;

  /* text-color */
  --primery-text: #060640;
  --secondary-color: #00e5cc;
  --text-gray: #828297;
  --text-L-gray: #637381;
  --text-black: #000000;
  --text-white: #ffffff;
  --text-green: #04a56a;
}

body,
html {
  font-size: 10px;
  font-weight: 400;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
body {
  margin: 0;
}

h1 {
  color: var(--primery-text);
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.4;
}

h2 {
  color: var(--primery-text);
  font-size: 4.3rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 2rem;
}

h3 {
  color: var(--primery-text);
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.2;
}

h4 {
  color: var(--text-black);
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.3;
}

h5 {
  color: var(--text-bkack);
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
}

h6 {
  color: var(--text-L-gray);
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: 600;
}

p {
  color: var(--text-bkack);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.6;
  margin-top: 1rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
}

li a {
  color: var(--text-gray);
}

.listitems,
.customText {
  font-size: 1.3rem !important;
  font-weight: 500 !important;
}
/*--------CSS FOR SIGN-UP PAGE---------*/
.sign-up-password {
  position: relative;
}
.password-reveal-icon {
  position: absolute;
  right: 1rem;
  top: 2rem;
}
.e-mail-verification-code {
  position: relative;
}
.e-mail-verification-get-code {
  position: absolute;
  right: 1rem;
  top: 1.2rem;
}

/*-------- CSS FOR TWO STEP VERIFICATION ----------*/
.two-step-verification {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.verification-wrapper {
  width: 60rem;
}
.two-step-verification .verification-content {
  padding: 2rem;
}

.two-step-verification .verification-content .input-box input {
  width: 7.5rem;
  height: 4.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 0.5rem;
  border: 1px solid var(--text-gray);
}
.two-step-verification .verification-content .input-box input::placeholder {
  font-weight: normal;
}
.two-step-verification .verification-content .input-box input:focus {
  outline: 2px solid #1976d2;
}
.two-step-verification .bottom-buttons .forgot-pass {
  color: #1976d2;
}

/*-----------Css for Side-nav---------*/
.profile {
  background-color: #edeff1;
  padding: 1.3rem 2rem;
  margin: 0 1.8rem;
  border-radius: 0.5rem;
}
.profile .profile-name h6 {
  color: #212b36;
}
.gradient-line {
  margin: 0 0 50px 0;
  display: block;
  border: none;
  height: 0.2rem !important;
  width: 40rem;
  background: var(--text-green);
  background: linear-gradient(
    to right,
    white,
    #04a56a,
    #06f79e,
    #04a56a,
    white
  );
}
.vh {
  color: #06f79e;
}
